* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0fafa;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 1440px;
	height: auto;
	background-color: #f0fafa;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	margin-top: 200px;
}
