.container {
	/* width: 1440px; */
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}

.topheader {
	background-image: url(./images/bg-header-desktop.svg);
	width: 100%;
	height: 150px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: hsl(180, 29%, 50%);
	z-index: 2;
}
