.card {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	color: black;
	width: 70vw;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 255, 247, 0.142);
	position: relative;
	z-index: 1;
}

.card img {
	padding: 15px;
}

.card.featured {
	border-left: 5px solid;
	border-left-color: hsl(180, 29%, 50%);
}

.left-card-container {
	display: flex;
	align-items: center;
}

.text-card-container {
	padding-left: 10px;
}

.text-card-container h2 {
	margin: 10px 0px;
	font-weight: 700;
	/* font-size: 20px; */
	cursor: pointer;
}
.text-card-container h2:hover {
	color: hsl(180, 29%, 50%);
}

.text-card-header {
	display: flex;
	align-items: center;
	gap: 15px;
	color: rgb(93, 164, 164);
}
.company {
	font-weight: 700;
}

.roundedchips-container {
	display: flex;
	gap: 6px;
}

.roundedchip {
	background-color: hsl(180, 29%, 50%);
	padding: 5px 8px;
	/* padding: 6px 8px; */
	border-radius: 15px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.05em;
}

.roundedchip.featured {
	background-color: hsl(180, 14%, 20%);
}

.footer-text {
	color: hsl(180, 8%, 52%);
	font-weight: 500;
}

.right-card-container {
	display: flex;
	align-items: center;
	font-weight: 700;
}

@media screen and (max-width: 450px) {
	.card {
		flex-direction: column;
		width: 325px;
	}
	.card img {
		position: absolute;
		width: 75px;
		top: -20px;
		left: -50px;
	}
}
