.card {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	color: black;
	width: 70vw;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 255, 247, 0.142);
	position: relative;
	z-index: 1;
}

.card img {
	padding: 15px;
}

.featured {
	border-left: 5px solid;
	border-left-color: hsl(180, 29%, 50%);
}

.left-card-container {
	display: flex;
	align-items: center;
}

.text-card-container {
	padding-left: 10px;
}

.text-card-container h2 {
	margin: 5px 0px;
	font-weight: 600;
	font-size: 20px;
}
.text-card-container h2:hover {
	color: rgb(93, 164, 164);
}

.text-card-header {
	display: flex;
	gap: 20px;
	color: rgb(93, 164, 164);
	font-weight: 700;
	font-size: 14px;
}

.text-chip {
	background-color: rgb(93, 164, 164);
	padding: 0 5px 0 5px;
	border-radius: 15px;
	color: #fff;
}

.footer-text {
	color: #5959597d;
	font-weight: 500;
	font-size: 14px;
}

.right-card-container {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #5959597d;
	font-weight: 500;
	font-size: 14px;
}

.right-card-container p {
	background-color: #eff6f6;
	padding: 5px;
	border-radius: 5px;
	color: rgb(93, 164, 164);
	font-weight: 700;
}

.right-card-container p:hover {
	background-color: rgb(93, 164, 164);
	color: #fff;
}
