.filter-container {
	background-color: #fff;
	padding: 15px;
	width: 70vw;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 255, 247, 0.142);
	z-index: 2;
	position: fixed;
	top: 129px;
}

.chips {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

.chip {
	background-color: #edf7f6;
	border-radius: 5px;
	padding: 0 10px;
	color: hsl(180, 29%, 50%);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.chip.selected {
	background-color: #63baba;
	color: #fff;
}

.clear {
	color: hsl(180, 29%, 50%);
	margin-right: 25px;
	cursor: pointer;
}

.clear:hover {
	text-decoration: underline;
}
