.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* width: 30%; */
	background-color: #fff;
	padding: 15px;
	width: 70vw;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 255, 247, 0.142);
	z-index: 2;
	color: #000;
	position: fixed;
	top: 130px;
}

.filter-result {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

.selected-filter {
	background-color: hsl(180, 31%, 95%);
	border-radius: 5px;
	padding: 8px;
	color: hsl(180, 29%, 50%);
	/* cursor: pointer; */
}

.clear {
	color: hsl(180, 29%, 50%);
	margin-right: 25px;
}

.clear:hover {
	text-decoration: underline;
	color: hsl(180, 29%, 50%);
}
